

body {
  background-color: lightgreen;
}

button {
  background-color: #32cd32; 
  color: white;
  border: none;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #228b22; 
}

.special {
  border: 2px solid #006400;
  background-color: #ccffcc;
  padding: 10px;
}
